

<!--CAROUSEL -->
   
<!-- <section id="carousel">
  <div id="myCarousel" class="carousel slide">
    
    <div class="carousel-inner">
      <div class="active item">
        <a href="#" target="_blank"><img src="http://i1293.photobucket.com/albums/b596/wlkngmachine/29430101-a2b3-4c81-ba4f-3ef204205a9b_zpsnjts7icj.jpg" border="0" alt=" photo IMGP6175_zpsbphigwip.jpg"/></a>
      </div>
      <div class="item">
        <a href="#" target="_blank"><img src="http://i1293.photobucket.com/albums/b596/wlkngmachine/46ecfbb2-8028-436d-8861-cab9157ae99e_zpsre8evxtk.jpg" border="0" alt=" photo IMGP6653_zpsghztzxpj.jpg"/></a>
      </div>
    </div>
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
    
  </div>
</section> -->

<section id="hero">
  <article>
    <div class="container clearfix">
      
       <div class="pre-order">
          
          <img src="http://i1293.photobucket.com/albums/b596/wlkngmachine/savoy%201000%20years%20web_zpssxi2jpat.jpg" border="0" height="140px" width="140px" class="album-art" alt=" photo savoy 1000 years web_zpssxi2jpat.jpg"/>
        
          <div class="itunes">
            <a href="http://monster.cat/1OcOhqf" target="_blank"><img src="http://i1293.photobucket.com/albums/b596/wlkngmachine/Pre-order_on_iTunes_Badge_US-UK_0614_zpskl17svlw.jpg" border="0"></a>
          </div>
  
          <div class="spotify">
            <a href="https://play.spotify.com/track/0J4f81pfoTqVIGzo5fo4pb" target="_blank"><img src="http://i1293.photobucket.com/albums/b596/wlkngmachine/listen_on_spotify-black_zpsvcigjon1.png" border="0" alt=" photo listen_on_spotify-black_zpsvcigjon1.png"/></a>
         </div>
         
      </div>
        
    </div>
  </article>
  
  
</section>



<!-- ==== LEAVING YOU ==== -->

<!-- <section id="leaving-you">
  <div class="container">
    <div class="row">
          <div class="col-sm-4">
            <div class="leaving-you-text">
              <h4>New Single - Leaving You</h4>
              <p>Out Now!</p>
            </div>
          </div>
          <div class="col-sm-8">
            <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/200644145&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
          </div>
       
    </div>
  </div>
</section> -->



<!-- TOUR DATES -->
<section id="savoy-live">
  <div class="container">
    <div class="row">
      
      <div class="col-sm-2">
        <div class="savoy-gif">
          <img src="http://i1293.photobucket.com/albums/b596/wlkngmachine/savoy_gif_zps4xchrcni.gif" border="0" height="150px" width="150px" alt=" photo savoy_gif_zps4xchrcni.gif"/>
        </div>
      </div>
      
      <div class="col-sm-8">
          <h2>LIVE</h2>
            
          <div class="bandsintown" align="center">            
                <script type='text/javascript' src='http://www.bandsintown.com/javascripts/bit_widget.js'></script>
                <a href='http://www.bandsintown.com' class='bit-widget-initializer' data-bandsintown-footer-link="false" data-artist='SAVOY' data-text-color='#CCCCCC' data-width='100%' data-separator-color='#2e2e2e'>Bandsintown</a>       
          </div>                 
      </div> 
      
      <div class="col-sm-2">
        <div class="savoy-gif">
          <img src="http://i1293.photobucket.com/albums/b596/wlkngmachine/savoy_gif_zps4xchrcni.gif" border="0" height="150px" width="150px" alt=" photo savoy_gif_zps4xchrcni.gif"/>
        </div>
      </div>
      
    </div>
  </div> 
</section>           
    
<!-- Soundcloud -->
<section id="savoy-soundcloud" data-type="background" data-speed="10">    
    <div class="container"> 
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
            
            <h2>MUSIC</h2>
                
            
<!-- 				<div class="soundcloud-widget" align="center">
					<p><iframe src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fusers%2F362193&amp;auto_play=false&amp;show_artwork=true&amp;color=3ac3ef" height="310" width="100%" frameborder="no" scrolling="no"></iframe></p>				
        </div> -->
          
          <div class="soundcloud-widget" align="center">
            
            <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/233345048&amp;color=2e2e2e&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            
            <br/><br/>
            
            <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/228231877&amp;color=2e2e2e&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            
            <br/><br/>
            
            <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/200644145&amp;color=2e2e2e&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            
          </div>
          
        </div>
      </div>
  </div>
</section>
  
                    
           
    <!-- SOCIAL --> 
<!-- <section id="savoy-social">    
  <div class="container">
    <div class="row">

      <div class="col-sm-4">
        <h2>Twitter GO</h2>
        <p><a class="twitter-timeline" width="300" height="500" href="https://twitter.com/Savoy" data-widget-id="savoy">Tweets by @Savoy</a></p>
      </div>
      
      <div class="col-sm-4">
        <h2>Twitter GO</h2>
        <p><a class="twitter-timeline" width="300" height="500" href="https://twitter.com/Savoy" data-widget-id="savoy">Tweets by @Savoy</a></p>
      </div>
      
      <div class="col-sm-4">
        <h2>Twitter GO</h2>
        <p><a class="twitter-timeline" width="300" height="500" href="https://twitter.com/Savoy" data-widget-id="savoy">Tweets by @Savoy</a></p>
      </div>
           
    </div>
  </div>
</section> -->
       
<!-- ==== SAVOY VIDEO ====        -->

<section id="savoy-video" data-type="background" data-speed="8">    
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2"> 
        <h2>LASERS</h2>
        <div align="center">
            <iframe width="100%" height="415" src="http://www.youtube.com/embed/Nu8CdHCSDsE?rel=0&wmode=opaque" frameborder="0" allowfullscreen></iframe>
        </div>
        
      </div> 
    </div>
  </div> 
</section>
    


<!--DOWNLOAD BANNER -->
<!-- <section id="savoy-downloads">   
    <div class="container">
        <div class="row">
          
          <h2>Downloads</h2>
               
          <div class="col-sm-3">
             <div align="center">
               <a href="#" target="_blank"><img src="http://i1293.photobucket.com/albums/b596/wlkngmachine/SAVOY%20Personal%20Legend%20Album%20Artwork_zpsyikefxac.jpg" border="0" alt=" photo SAVOY Personal Legend Album Artwork_zpsyikefxac.jpg"/></a>
             </div>
          </div>
          <div class="col-sm-3">
             <div align="center">
               <a href="#" target="_blank"><img src="http://i1293.photobucket.com/albums/b596/wlkngmachine/SAVOY%20Personal%20Legend%20Album%20Artwork_zpsyikefxac.jpg" border="0" alt=" photo SAVOY Personal Legend Album Artwork_zpsyikefxac.jpg"/></a>
             </div>
          </div>
          <div class="col-sm-3">
             <div align="center">
               <a href="#" target="_blank"><img src="http://i1293.photobucket.com/albums/b596/wlkngmachine/SAVOY%20Personal%20Legend%20Album%20Artwork_zpsyikefxac.jpg" border="0" alt=" photo SAVOY Personal Legend Album Artwork_zpsyikefxac.jpg"/></a>
             </div>
          </div>
          <div class="col-sm-3">
             <div align="center">
               <a href="#" target="_blank"><img src="http://i1293.photobucket.com/albums/b596/wlkngmachine/SAVOY%20Personal%20Legend%20Album%20Artwork_zpsyikefxac.jpg" border="0" alt=" photo SAVOY Personal Legend Album Artwork_zpsyikefxac.jpg"/></a>
             </div>
          </div>
                       
            
        </div>
    </div>
</section> -->

<!-- ==== SAVOY APPAREL ==== -->
    
<!-- <section id="savoy-apparel">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div align="center">
          <h2>Apparel</h2>
          <a href="#" target="_blank"><img src="http://i1293.photobucket.com/albums/b596/wlkngmachine/shop-online_zpsbeelmkeb.jpg" border="0" alt=" photo shop-online_zpsbeelmkeb.jpg"/></a>
        </div>
      </div>
    </div>
  </div>
</section> -->
  

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        
        <div class="contact-box">
          <div class="contact-text">
            <h3>Managment</h3>
            <hr/>
            <h5 class="contact-person">Adam Baronfeld</h5>
            <h5 class="contact-email">fashionablylatemgmt@gmail.com</h5>
            <br>
            <h3>Booking</h3>
            <hr/>
            <h5 class="contact-person">Jason Kupperman at Paradigm Agency</h5>
            <h5 class="contact-email">music-newyork@paradigmagency.com</h5>
            <br>
            <h3>Press</h3>
            <hr/>
            <h5 class="contact-person">Mike Gowen at MSO PR</h5>
            <h5 class="contact-email">mgowen@msopr.com</h5>
            
          </div>
        </div>
        
      </div>
    </div> 
  </div>
</section>
    

